<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="owin:AppStartup" value="Receiver.Startup" />
    <add key="handlers" value="D:\Git\webhookdeploy\src\console\handlers.json" />
    <add key="user" value="" />
    <add key="password" value="" />
    <add key="url" value="http://localhost:4444" />
  </appSettings>
</configuration>
